*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}
.slide{
  overflow: hidden;
}
table{
  width: 90%;
  margin: 0px auto;
}
th{
  background-color: #ff4655;
  color: #272729;
}
td{
  background-color:transparent;
  color: rgb(34, 34, 34);
  font-weight: 400;
  font-size: 15px;
}
table,th,td{
  border: 2px #302e2e solid;
  border-collapse: collapse;
  padding: 8px;
}
