*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}
:root{
  --red-color:#ff4655;
  --primary-main:#272729;
  --primary-light:#3a3a3d;
}
.slide{
  overflow: hidden;
}
.search-bar{
  width:88%;
  margin:0px  auto;
  padding:8px 1%;
  background-color:white;
  border:none;
  outline:none;
  font-weight:500;
  font-size:14px;
}
table{
  width: 90%;
  margin: 0px auto;
}
th{
  background-color: var(--red-color);
  color:var(--primary-main);
}
td{
  background-color:transparent;
  color:var(--primary-main);
  font-weight: 400;
}
th{
  font-size: 16px;
}

table,th,td{
  border: 1px var(--primary-light) solid;
  border-collapse: collapse;
  padding: 8px;
}
a{
  color: var(--primary-main);
}
.markup-text{
  color:var(--primary-main);
  font-size: 15px;
  line-height: 18px;
  text-align: left;
}
.tr-hover:hover{
  background-color: var(--primary-light);
  transition: .5s;
}
.chart-container{
  width:80%;
}

@media screen and (max-width:1200px) {
  .search-bar{
    width:90%;
  }
  table{
    width: 92%;
  }
  table,th,td{
    padding: 6px;
  }
  th{
    font-size: 14px;
  }
}
@media screen and (max-width:900px) {
  .search-bar{
    width:94%;
  }
  table{
    width: 96%;
  }
  table,th,td{
    padding: 4px;
  }
  th{
    font-size: 12px;
  }
  .chart-container {
    width: 100%;
  }
}
@media screen and (max-width:600px) {
  .search-bar{
    width:96%;
  }
  table{
    width: 98%;
  }
  table,th,td{
    padding: 2px;
  }
  th{
    font-size: 11px;
  }
}